@use "sass:selector";

@mixin field($child) {
	@at-root #{selector.unify(&, $child)} {
		padding: 10px;
		margin: 10px;
		border: 2px solid #fb2576;
		border-radius: 2rem;

		@content;
	}
}

.wrapper {
	display: flex;
	flex-direction: column;

	.field {
		@include field("input");
		@include field("select");

		color: #ff0000;
	}
}
