@use "global" with (
	$color_primary: #fb2576 // $color_primary: #6f1ab6
);

@use "mycolor";

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	color: global.$color_primary;
}

#chat {
	display: flex;
	flex-direction: column;
	margin: 20px;
	padding: 0;
	list-style: none;

	li {
		display: flex;
		margin-bottom: 32px;
		$bg: #fef5ed;

		.avatar {
			padding: 0 16px;
			display: flex;
			align-items: flex-end;

			img {
				@include global.circle;
				width: 48px;
			}
		}

		.message {
			flex: 1;
			background-color: mycolor.invert(global.$color_primary);
			padding: 16px;
			@include global.roundedBolt;
			border-bottom-left-radius: 0;

			strong {
				color: #ff4c29;
			}

			p {
				font-size: 14px;
			}

			time {
				font-size: 12px;
				letter-spacing: 1px;
				opacity: 0.65;
			}
		}

		.menu {
			display: flex;
			align-items: center;

			button {
				border: none;
				background: none;
				outline: none;

				img {
					width: 16px;
					opacity: 0.5;
					cursor: pointer;
				}
			}
		}

		&.me {
			$bg: global.$color_secondary;
			color: global.$color_third;
			flex-direction: row-reverse;

			.message {
				background-color: $bg;
				border-bottom-left-radius: global.$rounded;
				border-bottom-right-radius: 0;

				::selection {
					background: #fff;
					color: global.$color_primary;
				}
			}

			strong {
				display: none;
			}
		}
	}
}
