$primary: #0a2647 !default;
$secondary: #f3efe0 !default;
$border-radius: 0px !default;

* {
	box-sizing: border-box;
}

a {
	color: #cd0404;
	text-decoration: none;

	&:hover {
		color: $primary;
	}
}

.button {
	background: $primary;
	color: $secondary;
	padding: 8px 32px;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: $border-radius;

	&:hover {
		background-color: rgba($primary, 0.8);
	}
}

#logo {
	color: $primary;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
}

body {
	margin: 0;
	font-family: sans-serif;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 64px;
	padding: 0 16px;

	nav {
		width: 400px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		gap: 5px;
	}
}

main {
	margin: 15vw;
	padding-right: 320px;
	background-image: url("https://i.picsum.photos/id/818/200/300.jpg?hmac=lE_Le7TxnELgojCX97DVlE9CLlZJWqnfbaQR3Chjstw");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 300px;
	min-height: 400px;

	h1 {
		font-weight: bold;
		font-size: 48px;
		span {
			color: $primary;
		}

		small {
			display: block;
			font-weight: 100;
			font-size: 24px;
		}
	}

	p {
		margin-bottom: 60px;
	}

	.button {
		padding: 16px 64px;
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 64px;
	font-size: 12px;

	color: $secondary;
}
